@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-color: #1F2937;
  height: 70px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo-text {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.header-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.header-link-text {
  text-decoration: none;
}

.header-link-text, .hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
  background-color: #1F2937;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  align-items: flex-start;
  gap: 64px;
}

.hero-info {
  flex: 1;
}

.hero-main-text {
  margin: 0;
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-secondary-text {
  margin: 0 0 16px;
}

.hero-info button {
  cursor: pointer;
  padding: 8px 32px;
  border-radius: 8px;
  background: #3882F6;
  border: none;
  color: #F9FAF8;
  font-size: 18px;
  font-weight: 700;
}

.hero-image-container {
  flex: 1;
  font-size: 0;
}

.hero-image-container img {
  width: 100%;
}

.info {
  background-color: #F9FAF8;
  min-height: 500px;
}

.info-content {
  padding: 32px;
}

.info-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  text-align: center;
  margin: 0 0 32px;
}

.info-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.info-card img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  border: 4px solid #3882F6;
}

.info-card p {
  font-size: 18px;
  text-align: center;
  margin: 16px 0 0;
  color: #1F2937;
}

.quote {
  background-color: #E5E7EB;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-content {
  max-width: 800px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}

.quote-author {
  font-size: 24px;
  font-weight: 700;
  text-align: end;
  margin: 0 32px 0 0;
}
